name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: install dependencies
      run: sudo apt-get install build-essential arm-none-eabi-gdb

    - name: clean all
      run: make cleanall

    - name: Run Build
      run: make all -j$(nproc)

